body 
  margin: 0
.app-container
  position: relative
  height: 100vh
  min-height: 600px
  display: flex
  justify-content: center
  align-items: center
.app-container--background
  position: absolute
  width: 100%
  height: 100%
  background-image: url("https://images.unsplash.com/photo-1553602932-f93f674a9aaa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1371&q=80")
  background-repeat: no-repeat
  background-size: cover
  filter: blur(8px)
.app-container__carousel-container
  position: relative
  width: 750px
  height: 430px
  background-color: white
  display: flex
  overflow: hidden
.carousel-container__image
  width: 750px
  height: 430px
.carousel-container__carousel
  width: 100%
  display: flex
  transition: transform 0.5s
.carousel-container__bubbles-container
  position: absolute
  display: flex
  bottom: 20px
  left: 50%
  transform: translateX(-50%)
  z-index: 100
.bubbles-container__bubble
  width: 10px
  height: 10px
  margin: 0 2px
  border: 2px solid #ffffff
  background-color: transparent
  border-radius: 100%
  cursor: pointer
  &:hover
    background-color: rgba(255,255,255, 0.6)
.bubbles-container__bubble--active
  background-color: #ffffff
  &:hover
    background-color: #ffffff
.carousel-container__arrow-left, .carousel-container__arrow-right
  position: absolute
  font-size: 2em
  height: 100%
  width: 120px
  display: flex
  justify-content: center
  align-items: center
  color: #ffffff
  cursor: pointer
  opacity: 0
  transition: opacity 0.2s
  user-select: none
  z-index: 100
.carousel-container__arrow-left
  top: 0
  left: 0
  opacity: 0
  &:hover
    background: linear-gradient(270deg, rgba(24,24,24,0.01) 0%, rgba(24,24,24,0.9) 100%)
    opacity: 1
.carousel-container__arrow-right
  top: 0
  right: 0
  opacity: 0
  &:hover
    background: linear-gradient(90deg, rgba(24,24,24,0.01) 0%, rgba(24,24,24,0.9) 100%)
    opacity: 1